@import '../variables';

.categories {
	ul {
		display: flex;

		li {
			background-color: #f9f9f9;
			padding: 13px 30px;
			border-radius: 30px;
			margin-right: 10px;
			font-weight: bold;
			cursor: pointer;
			transition: all 0.3s ease;
			@include noselect();

			@media (any-hover: hover) {
				&:hover {
					background: darken(#f9f9f9, 75%);
					color: #fff;
				}
			}

			&.active {
				background: #282828;
				color: #fff;
			}
		}
	}
}
